body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #393b4a;
    color: white;
}
.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.part-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    border-bottom: 2px solid white;
}
